html {
	background: #eee;
}

body {
	font-family: "Roboto";
	padding-bottom: 54px;
	max-width: 600px;
	background: #fff;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

.move-enter-active, .move-leave-active {
	transition: opacity .2s, transform .2s;
}
.move-enter, .move-leave-to {
	opacity: 0;
	transform: translateY(20px) scale(0.9);
}

#abc9c1elt {
	display: none;
}

.theme--light {
	color: #fff;
}

.bottom-nav {
	position: fixed !important;
	bottom: 0 !important;
}